<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Contact Me!</title>
        <link rel="stylesheet" href="~/css/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>
    <body>
        <div class="container">
            <nav class="navbar">
                <a class="nav-link" href="/">Information</a>
                <a class="nav-link" href="projects">Projects</a>
                <a class="nav-link" href="contact">Contact</a>
            </nav>
        <h1>Send Me A Message!</h1>
        <form class="frm">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control">
            </div>
            <div class="form-group">
                <label>Message</label>
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>
    </body>
</html>